.bangle{
    width: 100%;
    min-height: 90px;

    background: #FBFBFB;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 30px;
}

.bangle h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.actions{
    display: flex;
    align-items: center;

    height: 100%;
    gap: 50px;
}

.icons{
    transform: scale(1.2);
    
    transition: 0.3s;
}
.icons path{
    fill: #1d1d1d;
}

.icons:hover{
    transform: scale(1.4);
    transition: 0.3s;
}

.trash{
    width: 100px;
    height: 100%;

    background: #FFB5B5;
    border-radius: 0px 12px 12px 0px;

    display: grid;
    place-items: center;
    transition: 0.3s;
}

.trash path{
    fill: white;
}

.trash:hover{
    background: #ff2626d3;
}

@media (max-width: 1200px) {
    .bangle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110px;
        padding-left: 0px;
    }
    .actions{
        height: 50%;
        gap: 3rem;
    }
    .icons{
        width: 2.6rem;
        height: 2.6rem;
    }
    .trash{
        width: min-content;
        height: min-content;


        background: none;

        display: grid;
        place-items: center;
        transition: 0.3s;
    }

    .trash path{
        fill: red;
    }
    .trash:hover{
        background: none;
    }
}