.button{
    border: none;
    outline: none;

    width: 280px;
    height: 60px;

    background: #426AE3;
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    color: #FFFFFF;
    transition: 0.3s;
}

.button:hover{
    transform: scale(1.05);
}

.button:active{
    transform: scale(0.5);
}

@media (max-width: 1200px) {
    .button{
        width: 60%;
    }
}