.header{
    width: 100%;
    height: 6.2rem;
    padding: 0px 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    width: 50%;
    height: 100%;
    padding: 1.2rem 0px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
}

.link:first-child,
.link_pg{
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

    transition: 0.3s;
    cursor: pointer;
}

.user{
    padding: 0px 10px;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;

    background: #426ae38a;
    border-radius: 8px;
}

.link:first-child{
    width: 50%;
}

.link:last-child{
    display: grid;
    place-items: center;

    height: 80%;
    width: 50%;
    background: #426AE3;
    border-radius: 8px;

    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;

    transition: 0.3s;
}


.link:last-child:hover{
    transform: scale(1.03);
}

.link:last-child:active{
    transform: scale(0.5);
}

.link_pg:hover,
.link:first-child:hover{
    color: #3e59f1;
}

@media (max-width: 1200px) {
    .nav{
        display:none;
    }
    .link_pg{
        display:none;
    }
    .user{
        display:none;
    }
    .link{
        display:none;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        transform: scale(0.7);
    }
}