.input{
    border: none;
    outline: none;

    width: 420px;
    height: 5rem;

    padding: 0px 1.8rem;

    background: rgba(194, 198, 209, 0.54);
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    color: #444444;
}

.input:focus{
    outline: 2px solid #2e6bc793;
}

.input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6 rem;

    color: #A6A6A6;
}


@media (max-width: 1200px) {
    .input{
        width: 80%;
        height: 6.2rem;
    }
}