.sign{
    width: 100%;
    height: 100%;

    display: flex;
}

.esq{
    width: 60vw;
    height: 100%;
}

.esq img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 0px 60px 60px 0px;
}

.dir{
    width: 40vw;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.dir form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.dir h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}